CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
po/CMakeFiles/
po/Makefile
po/ca.mo
po/cmake_install.cmake
po/cs.mo
po/de.mo
po/es.mo
po/fr.mo
po/hr.mo
po/hu.mo
po/it.mo
po/ja.mo
po/ko.mo
po/pl.mo
po/pt_BR.mo
po/ru.mo
po/zh_CN.mo
sakura.1
src/sakura
install_manifest.txt
